<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ServiceSettingGroup">
      <section name="ServiceSetting" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <ServiceSettingGroup>
    <ServiceSetting>
      <add key="csPath" value="D:\Temp_2014_4_14\Temp_2014_4_14"/>
      <add key="dllPath" value="C:\Program Files\WebSupergoo\ABCpdf .NET 7.0\Common"/>
      <add key="logPath" value="C:\Users\Administrator\Desktop\logs"/>
      <add key="resultPath" value="C:\Users\Administrator\Desktop\logs"/>
      <add key="buildType" value="test.dll"/>
      <add key="interval" value="1"/>
      <add key="createLogIfNoError" value="false"/>
      <add key="showWarnings" value="true"/>
    </ServiceSetting>
  </ServiceSettingGroup>

</configuration>
